<!doctype html>
<html ng-app>
	<head>
		<title>
			Controllers With As
		</title>
		<link href="styles/styles.css" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div ng-controller="CustomersController as ctrl">
			<h2>Customers</h2>
			FilterL <input type="text" ng-model="customerFilter.name">
			<br><br>
			<table>
				<tr>
					<td ng-click="doSort('name')">Name</td>
					<td ng-click="doSort('city')">City</td>
					<td ng-click="doSort('orderTotal')">Order Total</td>
					<td ng-click="doSort('joined')">Joined</td>
				</tr>
				<tr ng-repeat="cust in ctrl.customers | filter:customerFilter | orderBy:sortBy:reverse"><!-- limitTo:2 -->
					<td>{{ cust.name | uppercase }}</td>
					<td>{{ cust.city | lowercase }}</td>
					<td>{{ cust.orderTotal | currency }}</td>
					<td>{{ cust.joined | date }}</td> <!-- date: 'yyyy-MM-dd' 'medium'  'longDate' -->
				</tr>
			</table>
			<br>
			<span>Total customers: {{ ctrl.customers.length }}</span>
		</div>

		<script src="scripts/angular.js" type="text/javascript"></script>
		<script src="app/controllers/customersControllerWithAs.js"></script>
	</body>
</html>
